body{
    background-color: ghostwhite;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
}